* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}

body {
    background-color: rgba(15, 13, 19, 1);
   
}

.principal {
    display: flex;
    justify-content: center;
    gap: 28px;
    align-items: center;
    height: 99vh;
}

/*--------------------------------------- PLAYER 1 ------------------------------------------------*/

#main {
    background-color: rgba(42, 33, 65, 1);
    width: 266px;
    height: 498px;
    border-radius: 9px;
    margin-right: 20px;
}

#main img {
    height: 189px;
    width: 189px;
    margin-left: 38.41px ;
    margin-right: 38.41px ;
    margin-top: 50.95px;
    border-radius: 9px;
}

.msg {
    width: 189.66px;
    height: 52px;
    margin: 28.82px 38.41px;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
}

.controles {
    display: flex;
    margin-left:38.41px;
}

.time {
    display: flex;
    align-items: center;
    margin-left:38.41px;
    height: 0;
}

h1 {
    font-size: 24px;
    color: #E1E1E6;
    margin-bottom: 9px;
}

p {
    color: #E1E1E6;
    font-size: 19px;
    opacity: 0.67;
}

/*--------------------------------------- PLAYER 2 ------------------------------------------------*/

.main2 {
    background-color: rgba(42, 33, 65, 1);
    width: 357.71px;
    height: 266.68px;
    border-radius: 9px;
    padding: 28px;
    margin-bottom: 29px;
}

.img2 {
    height: 84px;
    width: 84px;
    border-radius: 6px;
}

.msg2 {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 29px;
}

.players {
    display: flex;
    justify-content: space-around;
    width: 300.09px;
    height: 28.81px;
    margin-bottom: 29px;
}

.timeMusic {
    display: flex;
    justify-content: space-between;
}

.timeMusic p {
    font-size: 14px;
}

.track {
    position: relative;
    margin-bottom: 9.6px;
}

.track::before {
    content: '';
    display: block;
    opacity: 0.3;
    height: 6px;
    width: 100%;
    background: #D9D9D9;
    border-radius: 10px;
    position: absolute;
}

.track::after {
    content: '';
    display: block;
    height: 6px;
    width: 80%;
    background:#D9D9D9;
    border-radius: 10px;
}

/* PLAYER 3 */

.main3 {

    background-color: rgba(42, 33, 65, 1);
    width: 357.71px;
    height: 199.26px;
    border-radius: 10px;
    padding: 28px;
    gap: 29px;
}







